/* General CSS Topics */

/* Color */
body {
    color: navy; /* black */
    background-color: #ead1dc; /* pink */
}

/* CSS Variables & Fallbacks */
:root {
    --primary-color: orange; /* Default primary color */
}

/* Fallback for browsers that do not support CSS variables */
a {
    color: #007bff; /* Fallback color */
    color: var(--primary-color); /* CSS variable */
}


/* Background */
header {
    background-color: #9fc5e8; /* light blue */
}

/* Unit */
h1 {
    font-size: 2em; /* relative size */
}

p {
    margin: 20px; /* absolute size */
}

div {
    padding: 1rem; /* relative size */
}

/* Box Model */
section {
    margin-top: 10px; /* longhand */
    margin: 10px;
    padding-top: 10px;
    padding: 10px; /* shorthand */
}

main {
    border: 1px solid #999; /* border */
    border-radius: 5px; /* border radius */
}

/* Text */
h1 {
    text-align: left;
}

p {
    text-decoration: underline;
}

/* Display */
section {
    display: inline-block; /* inline-block */
}

ul {
    display: block; /* none */
}

/* Sizing */
img {
    max-width: 10cm; /* max-width */
}

audio, video {
    width: 80%; /* width */
}

/* Position */
footer {
    position: sticky; /* sticky */
    bottom: 0;
}

form {
    position: relative; /* relative */
}

/* Pseudo-class */
a:hover {
    color: #ff4500; /* orange */
}

button:active {
    background-color: #f0f8ff; /* alice blue */
}

/* Layouts */
/* Flexbox */
main {
    display: flex;
    flex-direction: column;
    align-items: left;
}

section {
    flex: 1;
}

/* Responsiveness */
@media (30em <= width <= 50em) {
    /* Adjust styles for smaller screens */
    header {
        background-color: #f8f9fa; /* adjust header background color */
    }
}

/* Fonts */
body {
    font-family: 'Roboto', sans-serif; /* use Google Font Roboto */
}
